/* About Page Styles */
.abt-intro-bg {
  background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url("static/assets/About.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
}

/* Add this CSS rule to your Home BG */
.home-bg1 {
  background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url("static/assets/Home-BG2.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
}

.bg-image {
  background-image: url("static/assets/home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}

.body {
  scroll-behavior: smooth;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48, 49, 51);
  border-right: 1px solid rgb(48, 49, 51);
}

.divider {
  position: relative;
  margin: 30px 0;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.img-shadow {
  box-shadow: 0 0 20px #232526;
}

.logo1 {
  font-family: "ui-serif", cursive;
}

.nav-link {
  justify-content: end;
  color: rgba(255, 255, 255, 0.9);
}

.nav-link {
  padding-right: 5;
  padding-left: 0;
  color: rgba(36, 37, 39, 0.9);
}

.nav-link:hover {
  color: rgba(36, 37, 39, 1);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.navbar-item-pos {
  display: flex;
  flex-direction: row;
  padding-right: 5;
  padding-left: 0;
}

.section {
  padding: 60px 0;
}

/* Contact Page Styles */
.contact-bg {
  background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url("static/assets/Contact.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
}

/* Shop Page Styles */
.shop-bg {
  background: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.95) 100%
    ),
    url("static/assets/shop.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
}

/* Login & Sign-Up Page Styles */
.bg-img {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0.35) 100%
  );
}

.animated-button {
  transition: transform 0.3s ease-in-out;
}

.animated-button.close {
  transform: rotate(0deg);
}

.animated-button.open {
  transform: rotate(90deg);
}

/* Add this CSS to Header */
#navToggle {
  transition: opacity 0.3s;
}

#navToggle.collapse {
  opacity: 0;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px !important;
  background-color: rgb(36, 37, 39);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(248, 249, 251);
}

/* General Styles */
a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
